---
import Layout from "../layouts/Layout.astro";

import QuestionForm from "../components/QuestionForm";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-3xl leading-6 text-center">Welcome to Ask the Dogmatics</h1>
    <p class="prose mt-4 mx-auto">
      To get started, just enter a question below, and find out what the Church
      Dogmatics says about your question.
    </p>
    <div class="mx-auto max-w-prose mt-4"><QuestionForm client:load /></div>
  </main>
</Layout>
